{% extends "BASE.html" %}

{% block content %}
<div class="container">


	
	
	<div class="row">
		<div class="col-md-8">
		
		Aaiport in ICAO
		Runway length, widtth, ATC, et all
		
		
		<h1>Airport and TMA</h1> 
		<p>The first thing to realise is that the passenger codes etc 
		<ul>
			<li>LHR London Heathrow, SFO San Fransisco, or Dubai are out</li>
			<li>Instead in are EGLL and KSFO and LEFG</li>
			
			
		</ul>
			<ul>
				<li>An airport is the ATC tower, Ground control and</li>
				<li>A SID explains the flight plan from higher altitude down to the VOR</li>
			</ul>
		</div>
		<div class="col-md-4">
			
			<ul>
				<li><a href="http://en.wikipedia.org/wiki/Standard_departure">SID at Wikipedia</a></li>
			</ul>
		</div>
	</div>
	
	

</div>
{% endblock %}