{% extends "BASE.html" %}

{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Air Traffic Control for newbies</h1>
        <p>This is a quick guide to get you up and running with ATC. Learn and understand the lingo with some simple lessons, and become an ATC for virtual pilots. Unlike the real world, you can ATC within half an hour and its fun and you can start once you the basics :-)</p>
        <pre>ATC > foxtrox whiskey seven niner five, turn right heading zero one zero, descend and maintain three thousand</pre>
        <pre>Pilot > right heading zero one zero, descending to three thousand seven niner five</pre>
        </pre>
        <p>
        <a class="btn btn-primary btn-lg" role="button" href="/overview">How ATC works overview &raquo;</a>
        <a class="btn btn-primary btn-lg" role="button" href="/basics">Learn the basics &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Take Off / Departure</h2>
          <p>The departure routine at the airport: Weather, Runway, Pushback, Taxi, Take Off</p>
          <p><a class="btn btn-default" href="#" role="button">More &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Approach / Landing</h2>
          <p>The arrival route to the <a href="/airport">airport</a>: runway, the descent, approach, <a href="/ils">ILS</a> and <a href="/taxi">taxi</a> to stand and gate.</p>
          <p><a class="btn btn-default" href="#" role="button">More &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Advanced</h2>
          <p>Advances topic like holding, sigmet and alike</p>
          <p><a class="btn btn-default" href="#" role="button">More.. &raquo;</a></p>
        </div>
      </div>
   </div> 
{% endblock %}
