{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-6">
		<h2>Numbers</h2> 
			<p>For starters, virtually all numbers said over a two-way radio should be read out as individual digits.  
			<ul><li><em>'<b>one fifty</b>'</em> and <em>'<b>one sixty</b>'</em> can sound very similar,</li>
				<li><em>'<b>one five zero</b>'</em> and <em>'<b>one six zero</b>'</em> are much easier to distinguish from one another.</li>
			</ul>
			<p>The only place this is often relaxed is with the flight number in a callsign eg: FA1180 could very well be said "FreeAir Eleven Eighty" and not "Freeair one-one-eight-zero."  
			</p>
			<p>However, all <a href="/heading">headings</a>, <a href="/airspeed">airspeeds</a>, <a href="/altitude">altitudes</a>, altimeter readings, frequencies, and runway numbers should always be pronounced per digit.</p>

		</div>
		<div class="col-md-4">
			<h2>LEARN</h2> 
			<table class="table table-condensed">
				<thead>
					<tr><th>1</th><th>One</th><th>wan</th></tr>
				<thead>
				<tbody>
					<tr><td>1</td><td>One</td><td>wan</td></tr>
				<tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-6">

		<h4><span class="glyphicon glyphicon-star"></span> Number 9</h4>
		<p>There are two digits that can be mistaken for one another when sound quality is poor, and those are "five" and "nine".  This caused the governing body, years ago, to institute the practice of using the pronunciation "niner" in place of "nine" to ensure that it could not be confused with "five."  </p>

		</div>
		<div class="col-md-4">
			<div class="alert alert-warning">
			<p>Some amateurs who are not aware of the reasoning for this adjustment often erroneously believe that adding the suffix "-er" to the end of numbers is just something pilots do to sound "cool."  If you ever hear someone say "fiver" over the air in any two-way radio setting, please educate them -- as such a practice can be quite painful to the trained ear!</p>
			</div>
		</div>
	</div>
	
</div>
{% endblock %}